$black: #080808;
$lightGreen: #2fccab;
$oceanBlue: #07868e; 
$lightShadow: rgba(51, 69, 66, 0.25);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-block;
    text-decoration: none;
    user-select: none;
    
    img{
        height: 115px;
    }
}

.container {
    margin: 3.5vh 12%;
}

.inner-content{
    margin: 15vh 2%;
}

@import "./components/buttons";
@import "./components/text";