$black: #080808;
$lightGreen: #2fccab;
$oceanBlue: #07868e; 
$lightShadow: rgba(51, 69, 66, 0.25);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

:root{
    background: #303030;
}

#canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.noselect {
    user-select: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-block;
    text-decoration: none;
    
    img{
        height: 115px;
    }
}

.login-form{
    display: none;
}

.container {
    margin: 3.5vh 12%;
}

.hide {
    visibility: hidden;
}

.inner-content{
    margin: 15vh 2%;
}

/* Navigation Styles */

.bottom-nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #202020;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20%;
    -webkit-box-shadow: 0px -3px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -3px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -3px 9px 0px rgba(50, 50, 50, 0.75);
}

.bottom-nav a{
    padding: 15px;
}

.bottom-nav img{
    opacity: 0.6;
}

.bottom-nav a:hover > img{
    opacity: 1.2;
}


/* Desktop Styles */
@media only screen and (min-width: 1140px){
    .inner-content {
        margin: 15vh 8%;
    }
    .login-form{
        display: block;
    }
}


@import "./pages/login";
@import "./pages/signup";


@import "./components/buttons";
@import "./components/text";
@import "./components/inputs";