{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="container noselect">
        <header>
            <nav>
                <a class="logo" href="/">
                    <img src="{% static 'logo.png' %}" alt="Logo">
                </a>
            </nav>
        </header>
        <div class="login-form-container">
            <h1>Login</h1>
            <form action="/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="larger-login-btn" type="submit" value="Login">
            </form>
        </div>
    </div>
{% endblock %}
