{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="container noselect {% if new_user %}hide{% endif %}">
        <header>
            <nav>
                <a class="logo" href="/">
                    <img src="{% static 'logo.png' %}" alt="Logo">
                </a>
                {% if not user.is_authenticated %}
                    <form class="login-form" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input class="login-btn" type="submit" value="Login">
                    </form>
                    <a href="/login" id="mobile-link-login" class="login-link-btn">Login</a>
                {% else %}
                    <a href="/logout" class="login-link-btn">Logout</a>
                {% endif %}
            </nav>
        </header>
        {% if not user.is_authenticated %}
            <div class="inner-content">
                <h2 class="smaller-heading">Welcome to Star Born!</h2>
                <h1 class="bigger-heading">Be The One in <br>One Milion.</h1>
                <a href="/signup" class="signup-btn">Sign Up Now</a>
            </div>
        {% else %}
            <div class="auth-content">
                {% block main-view %}
                    <div class="main-picture">
                        <img src="{% static 'images/sun.png' %}" alt="Sun Picture">
                    </div>
                    <div class="stats-list">
                        <div>
                            <h5>Radius</h5>
                            <div class="stat">
                                <div class="stat-bar">
                                    <div style="width: 26%;"></div>
                                </div>
                                <h4>696,342 km</h4>
                            </div>
                        </div>
                        <div>
                            <h5>Age (years)</h5>
                            <div class="stat">
                                <div class="stat-bar">
                                    <div style="width: 38%;"></div>
                                </div>
                                <h4>4.6 Million</h4>
                            </div>
                        </div>
                        <div>
                            <h5>Orbital Velocity</h5>
                            <div class="stat">
                                <div class="stat-bar">
                                    <div style="width: 48%;"></div>
                                </div>
                                <h4>220 km/s</h4>
                            </div>
                        </div>
                        <div>
                            <h5>Temperature</h5>
                            <div class="stat">
                                <div class="stat-bar">
                                    <div style="width: 32%;"></div>
                                </div>
                                <h4>5,778 K</h4>
                            </div>
                        </div>
                        <div>
                            <h5>Inclination</h5>
                            <div class="stat">
                                <div class="stat-bar">
                                    <div style="width: 78%;"></div>
                                </div>
                                <h4>51.67 º</h4>
                            </div>
                        </div>
                    </div>
                {% endblock %}
                <nav class="bottom-nav">
                    <a href="/" class="active">
                        <img src="{% static 'images/sun-icon.png' %}" alt="Sun Icon">
                        <h6>Sun</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/mercury-icon.png' %}" alt="Mercury Icon">
                        <h6>Mercury</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/venus-icon.png' %}" alt="Venus Icon">
                        <h6>Venus</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/earth-icon.png' %}" alt="Earth Icon">
                        <h6>Earth</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/mars-icon.png' %}" alt="Mars Icon">
                        <h6>Mars</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/jupiter-icon.png' %}" alt="Jupiter Icon">
                        <h6>Jupiter</h6>
                    </a>
                    <a href="" class="saturn">
                        <img src="{% static 'images/saturn-icon.png' %}" alt="Saturn Icon">
                        <h6>Saturn</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/uranus-icon.png' %}" alt="Uranus Icon">
                        <h6>Uranus</h6>
                    </a>
                    <a href="">
                        <img src="{% static 'images/neptune-icon.png' %}" alt="Neptune Icon">
                        <h6>Neptune</h6>
                    </a>
                </nav>
            </div>
        {% endif %}
    </div>

    {% if new_user or not user.is_authenticated %} 
        <canvas id="canvas"></canvas>
        <script type="text/javascript" src="{% static 'scripts/dist/stars.js' %}"></script>
    {% endif %}
{% endblock %}