.btn {
    color: $black;
    font-weight: 300;
    border-radius: 12px;
    background: linear-gradient(261.9deg, $lightGreen 12.12%, $oceanBlue 98.9%);
    box-shadow: 0px 0px 10px 5px
                $lightShadow, 
                0px 0px 10px 8px 
                $lightShadow;
    transition: color 400ms;

    &:hover{
        background: none;
        border: 1px $oceanBlue solid;
        color: $oceanBlue;
    }
}

.link-btn {
    display: inline-block;
    text-decoration: none;
    @extend .btn;
}

.login-btn {
    @extend .btn;
    padding: 9px 33px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    &:hover{
        padding: 8px 32px;
    }
}

.larger-login-btn {
    @extend .login-btn;
    padding: 12px 48px;
    font-size: 17px;
    &:hover{
        padding: 11px 47px;
    }
}

.login-link-btn {
    @extend .link-btn;
    padding: 9px 33px;
    font-size: 15px;
    &:hover{
        padding: 8px 32px;
    }
}

.signup-btn {
    @extend .link-btn;
    margin-top: 8vh;
    padding: 27px 32px;
    font-size: 27px;
    &:hover{
        padding: 26px 31px;
    }
}

.larger-signup-btn {
    @extend .larger-login-btn;
}

@media only screen and (min-width: 1140px){
    .login-link-btn {
        display: none;
    }
}