@mixin responsiveSize($responsive, $min, $max, $ratio) {
    font-size: clamp($min, ($responsive * $ratio), $max);
}

.headings{
    font-weight: 300;
}

.smaller-heading{
    @extend .headings;
    @include responsiveSize(5vw, 16px, 40px, 0.88);
}

.bigger-heading{
    @extend .headings;
    @include responsiveSize(9vw, 28px, 70px, 0.88);
    margin-top: 2vh;
}